<div class="home__container">
  <app-card
    gameBuy="Play It Now!"
    gameCover="assets/bt-1.jpg"
    gameLabel="DIGITAL"
    gameType="DIGITAL | PS4 | PS5"
    gamePrice="R$ 19,99"
    gamePromotionSave="Unmissable"
    gamePromotionPercent="60%"
  >
</app-card>

<app-card
    gameBuy="Buy Now"
    gameCover="assets/bt-4.jpg"
    gameLabel="EXCLUSIVE"
    gameType="DISC | PS5"
    gamePrice="R$ 269,99"
    gamePromotionSave="SAVE"
    gamePromotionPercent="34%"
  >
</app-card>

<app-card
    gameBuy="Play It Now!"
    gameCover="assets/ac-cover.jpg"
    gameLabel="BEST OF YEAR"
    gameType="DIGITAL | PS5"
    gamePrice="R$ 399,99"
    gamePromotionSave="Special Promotion"
    gamePromotionPercent="41%"
  >
</app-card>

<app-card
    gameBuy="Buy Now!"
    gameCover="assets/bt-hardline.jpg"
    gameLabel="NEW"
    gameType="DIGITAL | PS3 | PS4 | PS5"
    gamePrice="R$ 369,99"
  >
</app-card>

<app-card
    gameBuy="Pure adrenaline!"
    gameCover="assets/bt-5.jpg"
    gameLabel="SPECIALIST"
    gameType="DIGITAL | PS5"
    gamePrice="R$ 289,99"
  >
</app-card>

<app-card
    gameBuy="Come check!"
    gameCover="assets/bt-bad-company-2.jpg"
    gameLabel="SWEAT AND BLOOD"
    gameType="DIGITAL | PS4 | PS5"
    gamePrice="R$ 275,99"
    gamePromotionSave="SAVE"
    gamePromotionPercent="27%"
  >
</app-card>
</div>
